.container {
    position: absolute;
    height: 76px;
    top: 1014px;

}

.leftarrow {
    position: absolute;
    color: #111928;
    top: 21px;
    left: 20px;
    border: none;
    background-color: transparent;
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.rightarrow {
    position: absolute;
    top: 21px;
    left: 62px;
    color: #111928;
    border: none;
    background-color: transparent;
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.pagetext {
    position: absolute;
    width: 135px;
    height: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #6B7280;
    left: 104px;
    top: 13px;
    padding: 0px;

}

.boldtext {
    padding: 0px;
    color: #111928;
}