.modal {
    position: absolute;
    width: 700px;
    height: 723px;
    left: 370px;
    top: 120px;
    background: #FFFFFF;
    border-radius: 16px;
}

.close {
    position: absolute;
    color: #454754;
    height: 14px;
    width: 14px;
    right: 30px;
    top: 30px;
}

.title {
    position: absolute;
    height: 33px;
    left: 40px;
    top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #111928;
}

.line {
    position: absolute;
    width: 620px;
    height: 1px;
    left: 40px;
    top: 85px;
    background: #ECECEF;
}

.name {
    position: absolute;
    height: 14px;
    left: 40px;
    top: 106px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #212121;
}

.nameinput {
    box-sizing: border-box;
    position: absolute;
    width: 620px;
    height: 48px;
    left: 40px;
    top: 137px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.client {
    position: absolute;
    width: 51px;
    height: 14px;
    left: 40px;
    top: 205px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #212121;
}

.clientinput {
    box-sizing: border-box;
    position: absolute;
    width: 620px;
    height: 48px;
    left: 40px;
    top: 236px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.projecttype {
    position: absolute;
    height: 14px;
    left: 40px;
    top: 304px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #212121;
}

.projecttypeinput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 40px;
    top: 335px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.projectresponsible {
    position: absolute;
    height: 14px;
    left: 365px;
    top: 304px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #212121;
}

.projectresponsibleinput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 365px;
    top: 335px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.startdata {
    position: absolute;
    height: 14px;
    left: 40px;
    top: 403px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #212121;
}

.startdateinput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 40px;
    top: 434px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.enddate {
    position: absolute;
    height: 14px;
    left: 365px;
    top: 403px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #212121;
}

.enddateinput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 365px;
    top: 434px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.projectstatus {
    position: absolute;
    height: 14px;
    left: 40px;
    top: 502px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #212121;
}

.projectstatusinput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 40px;
    top: 533px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.monthlystatus {
    position: absolute;
    height: 14px;
    left: 365px;
    top: 502px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #212121;
}

.monthlystatusinput {
    box-sizing: border-box;
    position: absolute;
    width: 295px;
    height: 48px;
    left: 365px;
    top: 533px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #DCDCE0;
    border-radius: 6px;
}

.buttoncancel {
    padding: 9px 17px;
    position: absolute;
    width: 88px;
    height: 42px;
    left: 435px;
    top: 641px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}

.buttonadd {
    padding: 9px 17px;
    position: absolute;
    width: 125px;
    height: 42px;
    left: 535px;
    top: 641px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}