.container {
    width: 1440px;
    height: 1059px;
}

.table_container {
    top: 176px;
    position: absolute;
    display: block;
    height: 838px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.table_head {
    position: absolute;
    width: 1339px;
    height: 46px;
    top: 0px;
    background: #F3F4F6;
    text-align: center;
}

.checkbox_top {
    position: absolute;
    top: 12px;
    left: 13px;
    height: 18px;
    width: 18px;
    text-align: center;

}

.user_id {
    color: #4B5563;
    position: absolute;
    height: 21px;
    left: 66px;
    top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

.name {
    color: #4B5563;
    position: absolute;
    height: 21px;
    left: 258px;
    top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

.email {
    color: #4B5563;
    position: absolute;
    height: 21px;
    left: 417px;
    top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

.phone {
    color: #4B5563;
    position: absolute;
    height: 21px;
    right: 592px;
    top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

.role {
    color: #4B5563;
    position: absolute;
    height: 21px;
    right: 377px;
    top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

.status {
    color: #4B5563;
    position: absolute;
    height: 21px;
    right: 225px;
    top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

.options {
    position: absolute;
    top: 8px;
    right: 42px;
    width: 54px;
    height: 21px;
    color: #4B5563;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

.arrow {
    position: relative;
    top: 3px;
    width: 18px;
    height: 18px;
}

.tablebody {
    left: 0;
    top: 46px;
    position: absolute;
    height: 792px;
    width: 1339px;
}

.rowContainer {
    position: relative;
    display: flex;
    align-items: center;
    height: 65px;
    width: 1336px;
    border-bottom: 1px solid #E5E7EB;
    color: #262626;
}

.itemcheckbox {
    position: absolute;
    height: 18px;
    width: 18px;
    top: 22px;
    left: 15px;
}



.itemuserid {
    position: absolute;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #111928;
    top: 21px;
    left: 66px;
}

.itemname {
    position: absolute;
    height: 24px;
    left: 263px;
    top: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #111928;
}

.itememail {
    position: absolute;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #111928;
    top: 21px;
    left: 420px;
}

.itemphone {
    top: 21px;
    left: 665px;
    position: absolute;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #111928;

}

.itemrole {
    position: absolute;
    width: 49px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    top: 21px;
    right: 390px;
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 5px 6px;

}

.itemstatus {
    position: absolute;
    top: 21px;
    right: 260px;
}

.itemoptions {
    position: absolute;
    top: 24px;
    right: 50px;
}