.container {
    width: 1440px;
    height: 1059px;
}


.table_container {
    top: 176px;
    position: absolute;
    display: block;
    height: 838px;
    width: 2130px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.table_head {
    position: absolute;
    width: 2130px;
    height: 46px;
    top: 0px;
    background: #F3F4F6;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #4B5563;
}

.checkbox_top {
    position: absolute;
    top: 12px;
    left: 13px;
    height: 18px;
    width: 18px;
    text-align: center;
}

.arrow {
    position: relative;
    top: 3px;
    width: 18px;
    height: 18px;
}

.employee_id {
    height: 21px;
    position: absolute;
    left: 66px;
    top: 10px;
}

.name {
    height: 21px;
    position: absolute;
    left: 238px;
    top: 10px;
}

.email {
    height: 21px;
    position: absolute;
    left: 377px;
    top: 10px;
}

.project_name {
    height: 21px;
    position: absolute;
    left: 644px;
    top: 10px;
}

.skills {
    height: 21px;
    position: absolute;
    left: 926px;
    top: 10px;
}

.employee_type {
    height: 21px;
    position: absolute;
    left: 1170px;
    top: 10px;
}

.joining_date {
    height: 21px;
    position: absolute;
    left: 1362px;
    top: 10px;
}

.salary {
    height: 21px;
    position: absolute;
    left: 1535px;
    top: 10px;
}

.utilization {
    height: 21px;
    position: absolute;
    left: 1674px;
    top: 10px;
}

.revenue_opportunity {
    height: 21px;
    position: absolute;
    left: 1831px;
    top: 10px;
}

.options {
    height: 21px;
    position: absolute;
    left: 2064px;
    top: 10px;
}

.tablebody {
    left: 0;
    top: 46px;
    position: absolute;
    height: 792px;
    width: 2130px;
}

.rowItemContainer {
    position: relative;
    display: flex;
    align-items: center;
    height: 65px;
    width: 2130px;
    border-bottom: 1px solid #E5E7EB;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #111928;
}

.itemcheckbox {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    top: 21px;
}

.itememployee_id {
    position: absolute;
    height: 24px;
    top: 21px;
    left: 66px;
}

.itemname {
    position: absolute;
    height: 24px;
    top: 21px;
    left: 238px;
}

.itememail {
    position: absolute;
    height: 24px;
    top: 21px;
    left: 377px;
}

.itemproject_name {
    position: absolute;
    height: 24px;
    top: 21px;
    left: 644px;
}

.itemskills {
    position: absolute;
    height: 24px;
    top: 21px;
    left: 926px;
}

.borderitems {
    border: 1px solid;
    border-radius: 8px;
    padding: 0px 7px 0px 7px;
    margin: 2px;
}

.itememployee_type {
    position: absolute;
    height: 24px;
    top: 21px;
    left: 1170px;
}

.itemjoining_date {
    position: absolute;
    height: 24px;
    top: 21px;
    left: 1362px;
}

.itemsalary {
    position: absolute;
    height: 24px;
    top: 21px;
    left: 1535px;
}

.itemutilization {
    position: absolute;
    height: 24px;
    top: 21px;
    left: 1674px;
}

.itemrevenue_opportunity {
    position: absolute;
    height: 24px;
    top: 21px;
    left: 1831px;
}

.itemoptions {
    position: absolute;
    top: 21px;
    left: 2075px;
}

.optionsContainer {
    position: absolute;
    width: 160px;
    height: 120px;
    top: 21px;
    right: 0px;
    background: white;
    z-index: 1;
}

.optionButtons {
    border: none;
    color: #111928;
    height: 36px;
    width: 160px;
    background: none;
}