@import url(https://fonts.googleapis.com/css?family=Inter);


.back_link {
    position: absolute;
    left: 88px;
    top: 58px;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A6A6A6;
    border: none;
    text-decoration: none;
}

.back_arrow {
    position: absolute;
    left: -18px;
    top: -3px;
}

.bodycontainer {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    overflow: auto;
    width: 1440px;
    height: 1059px;

}

.container {
    position: relative;
    margin: 196px 0 0 495px;
    font-family: 'Inter';
    height: 552px;
    width: 451px;
}

.text {
    position: absolute;
    width: 401px;
    height: 46px;
    top: -36px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #212121;
}

.text2 {
    position: absolute;
    width: 451px;
    height: 58px;
    top: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #212121;

}

.email {
    position: absolute;
    width: 32px;
    height: 15px;
    left: 1px;
    top: 159px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #212121;
    opacity: 0.4;
}

.input {
    position: absolute;
    width: 445px;
    border: 0;
    outline: 0;
    left: 1px;
    top: 210px;
}

.line {
    position: absolute;
    background: #212121;
    width: 450px;
    height: 2px;
    left: 1px;
    top: 235px;
    opacity: 0.3;
}


.button {
    position: absolute;
    width: 450px;
    height: 50px;
    left: 1px;
    top: 299px;
    color: white;
    background: #1996FC;
    border: none;
    box-shadow: 0px 0px 4px rgba(28, 30, 33, 0.16);
    border-radius: 6px;
}

.btn_cancel {
    position: absolute;
    width: 47px;
    height: 17px;
    border: none;
    text-align: center;
    font-style: normal;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #212121;
    text-decoration: none;
    top: 370px;
    left: 202px;
}

.cancel_link {
    text-decoration: none;
    color: #212121
}

/* forgotpassword/checkmail */

.checkmail_text {
    position: absolute;
    width: 318px;
    height: 46px;
    left: 495px;
    top: 196px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #212121;
}

.checkMail_text3 {
    position: absolute;
    width: 451px;
    height: 29px;
    left: 495px;
    top: 346px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #212121;

}

.checkMail_text2 {
    position: absolute;
    width: 451px;
    height: 58px;
    left: 495px;
    top: 265px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #212121;

}