@import url(https://fonts.googleapis.com/css?family=Inter);
@import url('https://css.gg/eye.css');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.images {
  position: absolute;
  top: 0;
  left: 0;

}

.container {
  position: relative;
  top: 0;
  left: 0;
}

.logo {
  position: absolute;
  top: 40px;
  left: 40px;
  bottom: 400px;

}

.login_container {
  position: absolute;
  width: 451px;
  height: 523px;
  left: 700px;
  top: 110px;
}

.login_header {
  position: relative;
  width: 127px;
  height: 52px;
  left: 2px;
  top: 2px;
  font-family: 'Inter';
  font-style: bold;
  font-weight: 700;
  font-size: 43px;
  line-height: 52px;
  text-align: center;
  color: #212121;
}

.email_head {
  position: relative;
  width: 32px;
  height: 15px;
  left: 1px;
  top: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #212121;
  opacity: 0.4;
}

.inputs {
  position: absolute;
  width: 450px;
  border: 0;
  height: 25px;
  outline: 0;
  left: 1px;
  top: 150px;
}


.line1 {
  position: absolute;
  background: #212121;
  opacity: 1;
  width: 450px;
  height: 2px;
  left: 1px;
  top: 175px;
  opacity: 0.3;
}

.password {
  position: absolute;
  width: 57px;
  height: 15px;
  left: 2px;
  top: 200px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #212121;
  opacity: 0.4;
}

.password_input {
  position: absolute;
  width: 450px;
  border: 0;
  outline: 0;
  left: 1px;
  top: 260px;
}

.line2 {
  position: absolute;
  background: #212121;
  width: 450px;
  height: 2px;
  left: 1px;
  top: 280px;
  opacity: 0.3;
}

.text {

  position: absolute;
  width: 297px;
  height: 17px;
  left: 2px;
  top: 270px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
  opacity: 0.4;
}

.button {
  position: absolute;
  width: 450px;
  height: 50px;
  border: none;
  left: 2px;
  top: 320px;
  border-radius: 6px;
  background: #1996FC;
  color: #fff;
  box-shadow: 0px 0px 4px rgba(28, 30, 33, 0.16);
  border-radius: 6px;
}

.buttonDisable {
  position: absolute;
  width: 450px;
  height: 50px;
  left: 2px;
  top: 320px;
  border: none;
  color: #FFFFFF;
  background: #D2D3D9;
  border-radius: 6px;
}

.text2 {
  position: absolute;
  width: 328px;
  height: 34px;
  top: 370px;
  left: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #212121;

}

.eye {
  border: none;
  background-color: transparent;
  position: relative;
  left: 420px;
  top: 160px;
}

.blue {
  color: #1996FC;
  opacity: 1;
}

.forgot_pwd {
  position: absolute;
  width: 156px;
  height: 17px;
  top: 440px;
  left: 160px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #1996FC;
  text-align: center;
  text-decoration: none;
}