.container {
    width: 1440px;
    height: 1059px;
}


.table_container {
    top: 176px;
    position: absolute;
    display: block;
    height: 838px;
    width: 1696px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.table_head {
    position: absolute;
    width: 1696px;
    height: 46px;
    top: 0px;
    background: #F3F4F6;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #4B5563;
}

.checkbox_top {
    position: absolute;
    top: 12px;
    left: 13px;
    height: 18px;
    width: 18px;
    text-align: center;

}

.arrow {
    position: relative;
    top: 3px;
    width: 18px;
    height: 18px;
}

.project_id {
    position: absolute;
    top: 9px;
    left: 66px;
}

.name {
    position: absolute;
    top: 9px;
    left: 221px;
}

.client {
    position: absolute;
    top: 9px;
    left: 361px;
}

.project_type {
    position: absolute;
    top: 9px;
    left: 518px;
}

.project_responsible {
    position: absolute;
    top: 9px;
    left: 693px;
}

.start_date {
    position: absolute;
    top: 9px;
    left: 917px;
}

.end_date {
    position: absolute;
    top: 9px;
    left: 1075px;
}

.project_status {
    position: absolute;
    top: 9px;
    left: 1226px;
}

.monthly_status {
    position: absolute;
    top: 9px;
    left: 1411px;
}

.options {
    position: absolute;
    top: 9px;
    left: 1603px;
}

.tablebody {
    left: 0;
    top: 46px;
    position: absolute;
    height: 792px;
    width: 1696px;
}

.rowItemContainer {
    position: relative;
    display: flex;
    align-items: center;
    height: 65px;
    width: 1696px;
    border-bottom: 1px solid #E5E7EB;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #111928;
}

.itemcheckbox {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    top: 21px;
}

.itemprojectid {
    position: absolute;
    left: 66px;
    top: 21px;
    height: 24px;
}

.itemname {
    position: absolute;
    left: 221px;
    top: 21px;
    height: 24px;
}

.itemclient {
    position: absolute;
    left: 361px;
    top: 21px;
    height: 24px;
}

.itemprojecttype {
    position: absolute;
    left: 518px;
    top: 21px;
    height: 24px;
}

.itemprojectresponsible {
    position: absolute;
    left: 693px;
    top: 21px;
    height: 24px;
}

.itemstartdate {
    position: absolute;
    left: 917px;
    top: 21px;
    height: 24px;
}

.itemenddate {
    position: absolute;
    left: 1075px;
    top: 21px;
    height: 24px;
}

.itemprojectstatus {
    position: absolute;
    left: 1226px;
    top: 21px;
    height: 24px;
}

.itemmonthlystatus {
    position: absolute;
    left: 1411px;
    top: 21px;
    height: 24px;
}

.itemoptions {
    position: absolute;
    left: 1629px;
    top: 21px;
    height: 24px;
}

.optionsContainer {
    position: absolute;
    width: 160px;
    height: 120px;
    top: 30px;
    right: 0px;
    background: white;
    z-index: 1;
}

.optionButtons {
    border: none;
    color: #111928;
    height: 36px;
    width: 160px;
    background: none;
}