@import url(https://fonts.googleapis.com/css?family=Inter);
@import url('https://css.gg/eye.css');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.text {

    position: absolute;
    width: 338px;
    height: 46px;
    left: 495px;
    top: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #212121;
}

.text2 {
    position: absolute;
    width: 451px;
    height: 58px;
    left: 495px;
    top: 165px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #212121;
}

.text3 {
    position: absolute;
    width: 57px;
    height: 15px;
    left: 495px;
    top: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #212121;

    opacity: 0.4;
}

.input1 {
    position: absolute;
    width: 450px;
    height: 15px;
    left: 496px;
    top: 310px;
    border: none;
    outline: 0;

}

.line1 {
    position: absolute;
    background: #212121;
    opacity: 1;
    width: 450px;
    height: 2px;
    left: 496px;
    top: 330px;
    opacity: 0.3;
}

.text4 {
    position: absolute;
    width: 300px;
    height: 17px;
    left: 495px;
    top: 325px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
    opacity: 0.4;
}

.text5 {
    position: absolute;
    width: 57px;
    height: 15px;
    left: 495px;
    top: 380px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #212121;
    opacity: 0.4;
}

.input2 {
    position: absolute;
    width: 400px;
    height: 15px;
    left: 496px;
    top: 430px;
    border: none;
    outline: 0;

}

.line2 {
    position: absolute;
    background: #212121;
    opacity: 1;
    width: 450px;
    height: 2px;
    left: 496px;
    top: 455px;
    opacity: 0.3;
}

.text6 {
    position: absolute;
    width: 185px;
    height: 17px;
    left: 495px;
    top: 450px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #212121;
    opacity: 0.4;
}

.btn_reset {
    position: absolute;
    width: 450px;
    height: 50px;
    left: 496px;
    top: 520px;
    border: none;
    color: white;
    background: #1996FC;
    box-shadow: 0px 0px 4px rgba(28, 30, 33, 0.16);
    border-radius: 6px;
}

.link_cancel {
    position: absolute;
    width: 47px;
    height: 17px;
    left: 698px;
    top: 590px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #212121;

}

.eye {
    position: absolute;
    left: 900px;
    top: 300px;
    border: none;
    background-color: transparent;
}

.eye2 {
    position: absolute;
    left: 900px;
    top: 430px;
    border: none;
    background-color: transparent;
}

/* reset successful css */

.rs_text1 {
    position: absolute;
    width: 285px;
    height: 46px;
    left: 495px;
    top: 176px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #212121;
}

.rs_text2 {
    position: absolute;
    width: 451px;
    height: 58px;
    left: 495px;
    top: 247px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #212121;
}

.rs_btn {
    position: absolute;
    width: 450px;
    height: 50px;
    left: 496px;
    top: 365px;
    border: none;
    background: #1996FC;
    box-shadow: 0px 0px 4px rgba(28, 30, 33, 0.16);
    border-radius: 6px;
    color: #fff;
}